.playplace {
    background-color: #fff;
}

.painter table {
    margin: 0 auto;
    background-color: #fff;
    height: 300px;
    max-height: 300px;
    width: 300px;
    max-width: 300px;
}

.painter table tr > th {
    background-color: #999;
    border: 1px solid #ccc;
}

.painter ul {
    display: block;
}

.painter ul > li {
    display: block;
    clear: right;
}

.painter ul > li.selected {
    background-color: Highlight;
    color: HighlightText;
}

.painter ul > li > .budget-name {
    display: block;
    clear: none;
}

.painter ul > li > .budget-money {
    display: block;
    clear: none;
}

.painter ul > li > .budget-money:before {
    content: "PhP ";
}

.painter ul > li > .budget-percent {
    display: block;
    font-size: 300%;
    font-weight: 200;
    text-align: right;
}

.painter ul > li > .budget-percent:after {
    content: '%';
}

.row-header {
    max-width: 24px;
    width: 24px;
}

.col-header {
    max-height: 24px;
    height: 24px;
}

.painter table tr > td.b0 {
    background-color: transparent;
}

.painter table tr > td.b1 {
    background-color: #0f0;
}

.painter table tr > td.b2 {
    background-color: #ff0;
}

.painter table tr > td.b3 {
    background-color: #f00;
}

.painter table tr > td.b4 {
    background-color: #0ff;
}

.painter table tr > td.b5 {
    background-color: #00f;
}
