body {
    background-color: #fff;
}

.content {
    background-color: #fff;
}

.painter-canvas {
    margin: 0 auto;
    background-color: #fff;
    height: 350px;
    max-height: 350px;
    width: 350px;
    max-width: 350px;
}

.painter-canvas tr > th {
    background-color: #999;
    border: 1px solid #ccc;
}

.painter ul {
    display: block;
}

.painter ul > li {
    display: block;
    clear: right;
    padding: 8px;
}

.painter ul > li.selected {
    background-color: Highlight;
    color: HighlightText;
}

.painter ul > li > .budget-name {
    display: block;
    clear: none;
}

.painter ul > li > .budget-name:before {
    display: inline-block;
    content: "\00A0";
    width: 16px;
    height: 16px;
    margin-right: 4px;
    vertical-align: middle;
    border: 1px solid #fff;
}

.painter ul > li > .budget-money {
    display: block;
    clear: none;
}

.painter ul > li > .budget-money:before {
    content: "PhP ";
}

.painter ul > li > .budget-percent {
    display: block;
    font-size: 300%;
    font-weight: 200;
    text-align: right;
}

.painter ul > li > .budget-percent:after {
    content: '%';
}

.row-header {
    max-width: 24px;
    width: 24px;
}

.col-header {
    max-height: 24px;
    height: 24px;
}

.painter-canvas tr > td.b0,
.painter ul > li.b0 .budget-name:before {
    background-color: #eee;
}

.painter-canvas tr > td.b1,
.painter ul > li.b1 .budget-name:before {
    background-color: #0f0;
}

.painter-canvas tr > td.b2,
.painter ul > li.b2 .budget-name:before {
    background-color: #ff0;
}

.painter-canvas tr > td.b3,
.painter ul > li.b3 .budget-name:before {
    background-color: #f00;
}

.painter-canvas tr > td.b4,
.painter ul > li.b4 .budget-name:before {
    background-color: #0ff;
}

.painter-canvas tr > td.b5,
.painter ul > li.b5 .budget-name:before {
    background-color: #00f;
}
